<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Standard and Poor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home-style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&family=Rubik:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>
<header>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/top-picks">TOP PICKS</a></li>
        <li><a href="/search">SEARCH</a></li>
    </ul>           
</header>
<body>
    <h1 class="home-heading">Standard and Poor 500 </h1>
    <h1 class="home-heading-2">Trend Analysis</h1>
    <div style="padding-top: 20px;">
        <div class="split-bar"></div>
    </div>
    <ul class="top-stocks">
        {% for item in data %}
            <li>
                <div>
                    <a class="item0" href="{{ item[3] }}">{{ item[0] }}</a>
                </div>
                <div>
                    <a class="item2" style="color: {% if item[2] > 0 %}rgb(2, 222, 2){% elif item[2] < 0 %}red{% else %}grey{% endif %};">{{ item[1] }}</a>
                    <a class="item3" style="color: {% if item[2] > 0 %}rgb(2, 222, 2){% elif item[2] < 0 %}red{% else %}grey{% endif %};">({{ item[2] }})%</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>